.idea
*.iml
out
gen
private/
control_file.json
__pycache__/
__pycache__/generic.cpython-312.pyc
league_metadata/
league_teams/
league_standings/
season_schedules/
player_metadata/
league_weeks_and_dates/
league_stat_categories/
league_scoreboards_by_week/